<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>CuteFrame</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Max Freq</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>max_note</string>
			<key>DefaultValue</key>
			<integer>127</integer>
			<key>MinimumValue</key>
			<integer>40</integer>
			<key>MaximumValue</key>
			<integer>127</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Min Freq</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>min_note</string>
			<key>DefaultValue</key>
			<integer>40</integer>
			<key>MinimumValue</key>
			<integer>40</integer>
			<key>MaximumValue</key>
			<integer>127</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>scale</string>
			<key>Title</key>
			<string>Type</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>chromatic</string>
				<string>diatonic</string>
				<string>pentatonic</string>
				<string>arabic</string>
				<string>spanish</string>
				<string>ryu-kyu</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>key</string>
			<key>Title</key>
			<string>key</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
			</array>
			<key>Titles</key>
			<array>
				<string>C</string>
				<string>C#</string>
				<string>D</string>
				<string>D#</string>
				<string>E</string>
				<string>F</string>
				<string>F#</string>
				<string>G</string>
				<string>G#</string>
				<string>A</string>
				<string>A#</string>
				<string>B</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Portamento</string>
			<key>Key</key>
			<string>isPortamento</string>
			<key>TrueValue</key>
			<string>1</string>
			<key>FalseValue</key>
			<string>0</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Vibrato Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>vibrato</string>
			<key>Key</key>
			<string>isVibrato</string>
			<key>TrueValue</key>
			<string>1</string>
			<key>FalseValue</key>
			<string>0</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>lfo_type</string>
			<key>Title</key>
			<string>LFO Type</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Sine Wave</string>
				<string>Square Wave</string>
				<string>Random</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>use accelerometer</string>
			<key>Key</key>
			<string>useAccelerometer</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Vibrato Freq</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>vib_freq</string>
			<key>DefaultValue</key>
			<integer>8</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Rate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>vib_rate</string>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
